<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foot Truck</title>
    <link rel="icon" href="./img/logo_foot_truck.png" />
    <link rel="stylesheet" href="../css/eventos.css" type="text/css" />
  </head>
  <body>
    <header>
      <section>
        <img
          src="../img/venta_foot_truck_y_derecho_de_llaves_concon_8160029648836418293.jpg"
          alt="logo food truck"
        />
        <h1>Food Truck</h1>
        <button onclick="changePage('./login')">
          <img src="../img/login.png" alt="imagen usuario login" />
        </button>
      </section>
      <nav>
        <h3>Menu</h3>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="./que_hacemos.html">Que hacemos?</a></li>
          <li><a href="./eventos.html">Eventos</a></li>
          <li><a href="./donde_estamos.html">Localizaci&oacute;n</a></li>
          <li><a href="./menu.html">Men&uacute;</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="../img/eventos.jpg" alt="" />
      <ul>
        <li>Fira Arrels (Mahon) - 01 Mayo</li>
        <li>Sant Joan - 23/24/25 Junio</li>
        <li>Menorca Music Festival - del 5 al 13 Agosto</li>
      </ul>
      <button onclick="changePage('../index')">Volver</button>
    </main>
  </body>
  <script src="../js/functions.js"></script>
</html>
